*{
    padding: 0;
    margin: 0;
}
#slider , img{
    margin: 10px;
    width: 800px;
    height: 300px;
    overflow: hidden;
    position: relative;
}
.slide{
    position: absolute;
}
button{
    font-size: 70px;
    color: white;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    top: 110px;
    transition-duration: 0.3s;
}
#next{
    left: 760px;
}
#previous{
    left: 40px;
}
button:hover{
    color: aqua;
}